.complaints-container {
  height: 700px;
  overflow-y: auto;
  text-align: center;
  background-color: #f9f9f9; /* Соответствие цветовой гамме заголовка */
  border: 2px solid #0080ff;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Добавление теней */
  padding: 20px;
}

.complaints-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.complaints-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.complaint-item {
  width: 22%;
  background-color: #ffffff;
  border: 3px solid #0080ff;
  border-radius: 10px;
  padding: 20px; /* Увеличил внутренний отступ */
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Добавление теней */
}

.complaint-link {
  text-decoration: none;
  color: #333;
}

.complaint-id {
  font-weight: bold;
  margin-bottom: 10px; /* Уменьшил отступ */
}

.complaint-header {
  margin-top: 10px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 16px; /* Увеличил размер шрифта */
}

h2 {
  text-align: center;
  color: #007aff;
  margin-bottom: 20px;
}

.elements {
  display: flex;
  justify-content:center;
}

.button-back {
  padding: 5px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #f9f9f9;
  border: 2px solid #007aff;
  color: #007aff;
  border-radius: 8px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.button-back:hover {
  background-color: #007aff;
  color: #ffffff;
}

.filter-container {
  margin-bottom: 20px;
}

.filter-label {
  margin-right: 10px;
}

.filter-select {
  padding: 5px 10px;
  font-size: 14px;
}