/* Header.css */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 10px 0;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-center {
  flex-grow: 1;
  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
}

.profile-button,
.login-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.profile-button {
  background-color: #333;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
}

.red-button {
  background-color: red;
  color: white;
}

.login-submit {
  border-radius: 5px;
  background-color: green !important;
  color: white;
  padding: 2px 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.cancel-button {
  border-radius: 5px;
  background-color: red !important;
  color: white;
  padding: 2px 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.input-group {
  display: flex;
  justify-content: space-between;
}

.input-group input {
  width: calc(50% - 5px);
}

.login-buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
