.city-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px; /* Добавим внутренний отступ для выравнивания */
}

.city-item {
  flex-basis: calc(25% - 20px); /* Четыре элемента в строке */
  text-align: center;
  margin-bottom: 20px; /* Расстояние между гербами */
  border: 2px solid #00274d; /* Синяя рамка толщиной 2px */
  background-color: #63adfc; /* Цвет фона */
  border-radius: 5px; /* Скругляем углы рамки */
  padding: 10px; /* Добавляем отступ вокруг содержимого */
}

.city-item img {
  width: 80px; /* Размер иконок */
  height: auto;
  margin-bottom: 10px; /* Расстояние между иконкой и текстом ссылки */
}

.city-item a {
  font-size: 20px; /* Размер текста ссылок */
  color: white; /* Цвет текста ссылок */
  display: block; /* Превращение ссылок в блочные элементы */
  text-decoration: none; /* Убираем подчеркивание ссылок */
}

.description-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.description {
  width: 100%;
  margin: 0 auto; /* Центрирование контента на странице */
}

.description p {
  text-align: center;
  line-height: 1.5; /* Увеличьте значение, чтобы увеличить межстрочный интервал */
}




body {
  background-color: #ffffff;
}

