.profile-page {
  display: flex;
  justify-content: center;
  background-color: white; /* Белый цвет фона */
  color: black; /* Черный цвет текста */
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Добавление тени */
}

.profile-page {
  margin-top: 2%;
  background-color: #f9f9f9;
  border: 2px solid #0080ff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Центрирование текста */
}

.user-icon {
  margin-bottom: 20px;
}

.profile-image {
  width: 50%;
  height: 50%;
  border-radius: 50%; /* Делаем рамку круглой */
  border: 3px solid #0056b3; /* Синяя рамка толщиной 3px */
}



.petitions-list-container {
  overflow: hidden;
  margin-top: 2%;
  background-color: #f9f9f9;
  border: 2px solid #0080ff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Центрирование текста */
}

.petitions-list {
  display: flex;
  justify-content: space-around;
}

.petition-item {
  min-width: 20%;
  border: 3px solid #0056b3; /* Синяя рамка толщиной 3px */
  background-color: #f0f0f0; /* Светло-серый цвет фона */
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.2); /* Добавление тени с синим оттенком */
}

.pagination-buttons {
  display: flex;
  justify-content: space-between; /* Располагаем элементы в кнопках по краям контейнера */
  margin-top: 10px;
}

.pagination-buttons img {
  width: 40px; /* Увеличиваем размер кнопок */
  height: 40px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
}

.button-back {
  color: #0056b3;
}

.search-container input{
  padding: 5px 15px;
  font-size: 12px;
  border-radius: 5px;
}